.card-balance {
  background: #ffffff;
  border-radius: 12px;
  padding: 6px;
      display: flex;
    flex-direction: column;

}

.card-balance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card-balance-label {
  font-size: 14px;
  color: #393939;
  font-weight: 500;
}

.card-balance-amount {
  font-size: 27px;
  font-weight: 700;
  color: #111827;
  line-height: 1.1;

}

.card-balance-available {
  font-size: 13px;
    color: #b2b2b2;
  font-weight: 400;

}