.daily-points {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
    padding: 23px 6px;
}

.daily-points-label {
  font-size: 14px;
  color: #393939;
  font-weight: 500;

}

.daily-points-value {
  font-size: 13px;
  font-weight: 400;
    color: #b2b2b2;
  line-height: 1.1;
}